<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <title>Calculator</title>
</head>
<body>
    <header>
        <h1>CALCUL<b>8</b>R</h1>    
    </header>
    
    <section class="how-to">
        <h2>How it works!</h2>
        <p>Go ahead and type into thr url the method you want the calculator to use, followed by the number you want to combine. </p>
        <p>You can <b>add, subtract, multiply</b> and <b>divide</b> any integers!</p>
        <p><b>eg. calculator/add/3/4</b> </p>
        <p>You'll be taken to a page which gives you the result! (which should be 7... I think!)</p>    
    </section>
    
</body>
</html>