<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <h1>Calcul8r</h1>

    <h2>How it works!</h2>
    <p>Go ahead and type into thr url the method you want the calculator to use, followed by the number you want to combine. We can do add, subtract, multiply and divide!</p>
    <p>eg. calculator/add/3/4</p>
    <p>you'll be taken to a page which gives you the result! (which should be 7... i think!</p>
</body>
</html>